body {
  font-family: Calibri Light, Calibri, sans-serif;
}

a:link {
    color: #b2b5b4;   
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro-header {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.iHeader {
    position: relative;
    width: 50%;
    height: 300px;
    opacity : 0.4;
    z-index: -1;
}

.form-container, .search {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
}

.searchHeader {
    font-size: 20px; 
    padding-left: 10px;
}

button {
    background-color: rgba(59, 95, 121, 0.93);
    color: #534e4e;
    font-weight: 100;
    border: none;
}

#searchPhotos {
    width: 700px;   
    height: 55px;
    font-size: 1.2em;
    display: block;
    margin: 1em auto;
    color: white;
    margin-top: 80px;
    
}

#photoHeader {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    display: none;
}

footer {
    margin-top: 80px;   
}

#powered {
    float: right;
    color: rgba(137, 127, 48, 0.92);
    
}

.logoFooter {
    width: 80px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 90%;   
}